<div class="container bg-light">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <h1 class="restaurant-show-title">
        建立新餐廳資訊
        <span class='text text-danger'>
          * 為必填項目
        </span>
      </h1>

      <form action="/restaurants" method="POST">
        <ul class="py-3">

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fab fa-cuttlefish pr-2"></i>中文名稱*：
            </p>
            <input class='obligatory' type="text" placeholder="中文名稱" name='name'>
          </li>

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-font pr-2"></i>英文名稱：
            </p>
            <input type="text" placeholder="英文名稱" name=' name_en'>
          </li>

          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-utensils pr-2"></i>
              餐廳類別*：
            </p>
            <input class='obligatory' type="text" placeholder="如：義式料理、台式料理..." name='category'>
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-map-marker-alt pr-2"></i>
              地址*：
            </p>
            <input class='obligatory' type="text" placeholder="地址" name='location'>
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-location-arrow pr-2 fa-xs"></i>
              Google Map 連結：
            </p>
            <input type="text" placeholder="google map" name='google_map'>
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-mobile-alt pr-2"></i>
              電話*：
            </p>
            <input class='obligatory' type="text" placeholder="電話" name='phone'>
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-star fa-xs pr-2"></i>
              評分* (0/5)：
            </p>
            <input class='obligatory' type="text" placeholder="評分" name='rating'>
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="far fa-file-alt pr-2"></i>
              餐廳簡述*：
            </p>
            <textarea type="text" name="description" class='obligatory' cols="30" rows="5"
              placeholder="用餐環境、餐點品質..."></textarea>
          </li>


          <li class="d-flex justify-content-center mb-1">
            <p class="text-secondary">
              <i class="fas fa-images pr-2"></i>
              餐廳照片：
            </p>
            <input type="text" placeholder="餐廳照片網址" name='image'>
          </li>


          <li class="d-flex justify-content-around mt-2">
            <button type="submit" class='btn btn-success create'>Create</button>
            <a href="/" class='btn btn-info'><i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </form>

    </div>
  </div>
</div>